[MASTER]
# Make src importable
init-hook = import os, sys; sys.path[:0] = [os.path.join(os.getcwd(), "module_4_copy", "src")]

# Skip whole folders/files (regex on full path)
ignore-paths = ^module_4_copy/src/app/llm_hosting/.*$

# Help import-order
known-third-party = flask, psycopg, psycopg_pool, urllib3, bs4, pytest

[MESSAGES CONTROL]
disable =
    C0304,        # missing-final-newline
    R0402,        # consider-using-from-import
    R0903,        # too-few-public-methods (dummy classes in tests)
    R0801,        # duplicate-code (test helpers repeated)
    R0914         # Too many local variables


[REPORTS]
reports = no