{% extends "layout.html" %}

{% block content %}
<section class="contact-section">
    <h2>Contact Information</h2>
    <div class="project">
        <p>You can reach me via email or connect with me on LinkedIn.</p>
        <ul>
            <li>
                <strong>Email:</strong> 
                <a href="mailto:jkwon30@jh.edu">jkwon30@jh.edu</a>
            </li>
            <li>
                <strong>LinkedIn:</strong> 
                <a href="https://www.linkedin.com/in/jaekwon89" target="_blank">linkedin</a>
            </li>
        </ul>

    </div>

</section>
{% endblock %}

