{% extends "layout.html" %}

{% block content %}
<section class="projects-section">
    <h2>Projects: Modern Software Concepts (2025)</h2>
    <div class="project">
        <h3>Module 1 - Web Applications</h3>
        <p>
            Building a personal website from scratch using Flask.
            It contains a navigation bar, home, projects, and contact.
        </p>
        <a href="https://github.com/jaekwon89/jhu_software_concepts/tree/ab1c1aa7785d5b1b6f17b7a04fbb1fc8d90b22af/module_1" 
        target="_blank">
            github link
        </a>
    </div>
    </section>
{% endblock %}