{% extends "layout.html" %}

{% block content %}
<section class="projects-section">
    <h2>My Projects</h2>
    <div class="project">
        <h3>Turntable Robot Contest</h3>
        <p>
            In this project, a 3-DOF (Degrees of Freedom) robotic arm 
            autonomously sorts colored PVC pipes. 
            The robot transfers the pipes between two turntables 
            and stacks them by color to build a triangular pyramid.
        </p>
        <a href="https://drive.google.com/file/d/1flqLotxLlIKK4NOWpa3AY2milKq9L3Fz/view?usp=sharing" 
        target="_blank">
            Turntable Robot Contest
        </a>
    </div>
    </section>
{% endblock %}